<script type="text/x-template" id="contact">
  <div>
    <alert :value.sync="showAlert" placement="top-right" :duration=3000 :type="alertType" style="height:90px; min-width:380px;" dismissable>
      <span class="icon">
        <i style="font-size: xx-large;" class="fa fa-check-circle" v-if="alertType==='info'"></i>
        <i style="font-size: xx-large;" class="fa fa-info-circle" v-if="alertType==='danger'"></i>
        <i style="font-size: xx-large;" class="fa fa-check-circle" v-if="alertType==='success'"></i>
      </span>
      <div class="alertContent">
        <strong v-if="alertType==='success'">Success</strong>
        <strong v-if="alertType==='danger'">Error</strong>
        <p v-html="AlertInside"></p>
      </div>
    </alert>

    <div id="contact" class="contact">
      <div class="componentHeader">
        <i style="font-size: xx-large; margin-left: 5%; margin-top: 3%;" class="fa fa-file-text"></i>
        <label style="font-size: 26px; margin-left: 1%; margin-bottom: 1%">Contact</label>
        <a style="display: block; margin-left: 5%; margin-bottom: 3%">Please fill every content marked with (<span class="required">*</span>):</a>
        </div>
        <div class="contactForm">
          <form>
            <label for="subject">Contact Reason</label><br />
            <div class="vueSelectList">
              <v-select v-model="reason" :options="contactReasonOptions" label="title">
                <template slot="option" slot-scope="option">
                  <span :class="option.icon"></span>
                  {{ option.title }}
                </template>
              </v-select>
            </div>
            @*<vueinput type="text" v-bind:placeholder="'Your Phone Number...'" :key="'Input'" :label="'Phone Number'" pattern="^[0-9]{9}$"></vueinput>*@

            <label for="id"><span class="required">*</span> Account/Card Number</label>
            <input type="text" id="phone" name="phone" placeholder="Your Account/Card Number..">

            <label for="subject"><span class="required">*</span> Problem Description</label>
            <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

            <div class="drag-drop">
				<div class="upload">
					<ul v-if="files.length">
						<li v-for="(file, index) in files" :key="file.id">
							<span>{{file.name}}</span> -
							<span>{{file.size | formatSize}}</span> -
							<span v-if="file.error">{{file.error}}</span>
							<span v-else-if="file.success">success</span>
							<span v-else-if="file.active">active</span>
							<span v-else-if="file.active">active</span>
							<span v-else></span>
						</li>
					</ul>
					<ul v-else>
						<div class="text-center p-5" style="margin-left: -6%">
							<h4>Drop files here to upload</h4>
						</div>
					</ul>

					<div v-show="$refs.upload && $refs.upload.dropActive" class="drop-active">
						<h3>Drop files to upload</h3>
					</div>

					<div class="drag-drop-btn" style="margin-bottom: 2%;">
						<button type="button" class="btn btn-success spaceMargin" v-on:click="submit($event);">
							<i class="fa fa-arrow-up" aria-hidden="true"></i>
							Submit form
						</button>
						<div style="float:right">
							<file-upload class="btn btn-primary"
										 post-action="/upload/post"
										 :multiple="true"
										 :drop="true"
										 :drop-directory="true"
										 v-model="files"
										 ref="upload">
								<i class="fa fa-plus"></i>
								Select files
							</file-upload>
							<button type="button" class="btn btn-success" v-if="!$refs.upload || !$refs.upload.active" @@click.prevent="$refs.upload.active = true">
								<i class="fa fa-arrow-up" aria-hidden="true"></i>
								Start Upload
							</button>
							<button type="button" class="btn btn-danger" v-else @@click.prevent="$refs.upload.active = false">
								<i class="fa fa-stop" aria-hidden="true"></i>
								Stop Upload
							</button>
						</div>
					</div>
					<alert :value.sync="showWarning" :duration=15000 type="warning" width="615px" dismissable style="margin-top: 1%">
						<strong>Warning!</strong>
						Wait {{ timeout }} seconds before sending next message to us!
					</alert>
				</div>
            </div>
          </form>
        </div>
      </div>
    </div>
</script>
