<h3>VueJS 2 in ASP.NET MVC 6</h3>

<div id="aboutPage">
    {{ message }}
</div>
<script>
    var aboutPage = new Vue({
        el: '#aboutPage',
        data: {
            message: 'Hello Vue! in About Page'
        }
    });
</script>