<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
  </appSettings>
  <connectionStrings>
    <add connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=ProductionBase;User ID=connector;Password=connector;Integrated Security=True;MultipleActiveResultSets=true;" name="DefaultConnection" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>